{# src/Pastel/PlatformBundle/Resources/views/Default/article.html.twig #}
{% extends "PastelPlatformBundle::layout.html.twig" %}

{% set blogPage = true %}

{% block title %}{{ parent() }} - Article{% endblock %}

{% block body %}

    <div class="bodyContent">
        <div class="container mt-100">
            <div class="blogArticle">
                <h2 class="blogTitle">{{ article.title }}</h2>
                <p class="mb-30">{{ article.datePost|date('d/m/Y') }}</p>
                {% if article.articlePicture is not null %}
                    <div class="row">
                        <img src="{{  asset('uploads/articlesPictures/'~article.articlePicture.path) }}" alt="{{ article.articlePicture.alt }}" class="img-responsive col-sm-5 mb-10" />
                        <div style="padding-left: 15px; padding-right: 15px;">{{ article.content|raw }}</div>
                    </div>
                {% else %}
                    {{ article.content|raw }}
                {% endif %}

                <div class="blogComment">
                    {% if is_granted('ROLE_USER') %}

                        {{ form_start(form) }}
                        {{ form_errors(form) }}

                        <div class="form-group">
                            {{ form_label(form.content) }}
                            {{ form_errors(form.content) }}
                            {{ form_widget(form.content, {'attr': {'class': 'form-control',
                                'rows': '4'
                            }}) }}
                        </div>

                        <input type="submit" value="enregistrer" class="btn btnBlue">

                        {{ form_rest(form) }}
                        {{ form_end(form) }}

                    {% else %}
                        <p><a href="{{ path('fos_user_security_login') }}" >Connectez-vous</a> ou <a href="{{ path('fos_user_registration_register')}}">inscrivez-vous</a> pour poster un commentaire</p>
                    {% endif %}

                    <div class="blogCommentList">
                        <h4>Commentaires</h4>
                        {% if comments is not empty %}
                            {% for comment in comments %}
                                <div class="comment">
                                    <p>Par <b>{{ comment.user.username }}</b> le {{ comment.datePost|date('d/m/Y à H:i') }}</p>
                                    <p>{{ comment.content }}</p>
                                    <p><a href="{{ path('pastel_platform_signalComment', { 'id': comment.id })}}">signaler</a></p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>Aucun commentaire n'a été posté</p>
                        {% endif %}
                    </div>
                    <div class="mt-10 mb-30">
                        <a href="{{ path('pastel_platform_blog') }}" class="btn btnBlue pull-right"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-center mb-20">
        <a class="toUp" href="#logo"><i class="fa fa-arrow-circle-o-up fa-3x" aria-hidden="true"></i></a>
    </div>
    
    
{% endblock %}