{% extends 'PastelPlatformBundle::layout.html.twig'%}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
   
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="row alert alert-success alert-dismissible mt-50 mb-30">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>

    <div class="container bodyContent mb-30">
        <div class="mt-50">
            <h2 class="text-center mb-50">Formulaire de contact</h2>

            <div class="col-sm-8 col-sm-offset-2 well myWellPadding">
                <p class="text-center mt-10 mb-50">Vous pouvez nous contacter en nous laissant un message via le formulaire ci-dessous.<br>Nous vous répondrons dans les meilleurs délais.</p>

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="form-group col-sm-8 col-sm-offset-2">
                        <label for="firstName">Prénom :</label>
                        {{ form_errors(form.firstName) }}
                        {{ form_widget(form.firstName, {'attr': {'class': 'form-control' }}) }}
                    </div>

                    <div class="form-group col-sm-8 col-sm-offset-2">
                        <label for="firstName">Nom :</label>
                        {{ form_errors(form.lastName) }}
                        {{ form_widget(form.lastName, {'attr': {'class': 'form-control' }}) }}
                    </div>

                    <div class="form-group col-sm-8 col-sm-offset-2">
                        <label for="email">Adresse email :</label>
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }}
                    </div>

                    <div class="form-group col-sm-8 col-sm-offset-2">
                        <label for="message">Message :</label>
                        {{ form_errors(form.message) }}
                        {{ form_widget(form.message, {'attr': {'class': 'form-control',
                            'rows': '10'
                        }}) }}
                    </div>

                    <div class="col-sm-12 text-center mt-20 mb-10">
                        <input type="submit" id="_submit" name="_submit" class="btn btnBlue" value="Envoyer" />
                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                    
                </div>
            </div>
        </div>

{% endblock %}