{# src/Pastel/PlatformBundle/Resources/views/Default/creation.html.twig #}
{% extends "PastelPlatformBundle::layout.html.twig" %}

{% set profilePage = true %}

{% block title %}{{ parent() }} - Nouvel article{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="row alert alert-success alert-dismissible mt-50 mb-30">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>

    <div class="container bodyContent mb-30">
        <div class="mt-50">
            <h2 class="text-center mb-50">Nouvel article</h2>
            <div class="blogArticle">

                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.content) }}
                    {% if form_errors(form.content) %}
                        <div class="alert alert-danger text-center">
                            {{ form_errors(form.content) }}
                        </div>
                    {% endif %}
                    {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    <div class="upload">
                        {{ form_widget(form.articlePicture, {'attr': {'class': 'browse'}}) }}
                        <span type="button" class="btn fileSelectButton glyphicon glyphicon-camera"></span>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Enregistrer" class="btn btnBlue">
                </div>

                {{ form_rest(form) }}
                {{ form_end(form) }}

            </div>
            
            <div class="col-sm-8 col-sm-offset-2">
                <div class="col-sm-12 text-center mt-20 mb-10">
                    <a href="{{ path('fos_user_profile_show') }}" class="btn btnBlue">Retour au profil</a>
                </div>
            </div>
            
        </div>
    </div>
  
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>
	<script src="{{ asset('js/ckeditor.js') }}"></script>
{% endblock %}