{% trans_default_domain 'FOSUserBundle' %}

    <div class="container bodyContent mb-30">
        <div class="mt-50">
            <h2 class="text-center mb-50">Connexion</h2>
            <div class="col-sm-8 col-sm-offset-2 well myWellPadding">
                <h5 class="text-center mb-30 blue">Connectez-vous pour accéder à votre profil</h5>
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <div class="form-group col-md-6 col-md-offset-3 text-center mb-20">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control loginInput"/>
                </div>

                <div class="form-group col-md-6 col-md-offset-3 text-center mb-20">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" required="required" class="form-control loginInput" />
                </div>

                <div class="form-group myCheckbox col-md-6 col-md-offset-3 mb-20 text-center">
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                </div>
                
                <div class="form-group col-md-6 col-md-offset-3 text-center mb-20">
                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btnBlue" />
                </div>
                
                <p class="col-sm-6 col-xs-12 mt-20 text-center"><a href="{{ path('fos_user_resetting_request')}}">Mot de passe oublié</a></p>
                </form>
                
                <p class="col-sm-6 col-xs-12 mt-20 text-center">Pas encore inscrit ? <a href="{{ path('fos_user_registration_register')}}">C'est ici</a></p>
            </div>
        </div>
    </div>
